/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/storage/app/translation_files/*
_ide_helper.php
_ide_helper_models.php
composer.lock
.phpstorm.meta.php
*.min.min.js
/.phpstorm.meta.php
laradock/
package-lock.json
